// Карта цветов

// белый главный цвет
$white-color: #ffffff;
// бордовый цвет (для хедера, passion, products, how it’s made?, with passion и т.д)
$main-color: #d41443;
// второстепенный цвет (100% natural, tradition and love )
$second-color: #ffa5ba;
// hover and focus серый цвет для белой кнопки How it’s made?
$hover-btn: #ecebeb;
// hover и focus бордовый цвет для белой кнопки How it’s made?
$hover-btnred: #c7133e;
// цвет li с мороженного (используется в хедере, герое, разделе "Продукты")
$ice-cream: #ffb8ca;
// цвет ice coffee из раздела products
$coffee: #f0d1a5;
// цвет milkshakes из раздела products и food truck из раздела contacts
$milkshake: #c2e297;
// нежно розовый для футера и секции contacts
$bg-color: #fff5f6;
// главный цвет текста
$text-color: #000000;
// второстепенный цвет текста в секции с коровой и в секции contacts
$second-text-color: #907e82;
//  icons иконки для соц сетей
$icons: #fea5bb;
// feedback цвет фона текста в блоке Customer Reviews
$backcolor: #fafafa;
// feedback цвет кавычек в блоке Customer Reviews
$feedback: #e1e1e1;
// цвет троеточия в разделе Customer Reviews
$dots: #d9d9d9;
// цвет линий подчеркивания в разделах Customer Reviews, Contacts, Footer
$lines: #e1e1e1;
