<section class="about">
    <div class="container">
        <p class="about-pre-title">tradition and love</p>
        <h1 class="about-title">how it’s made?</h1>
        <div class="about-content about-background">
            <picture class="about-foto">
            </picture>
            <div class="about-right-info">
                <p class="about-sub-title">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
                Maecenas eleifend erat at justo fringilla.</p>
                <p class="about-text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. <br>
                <br>
                Aliquam erat volutpat. Aenean accumsan.</p>
                <button type="button" class="about-btn">Read more</button>
            </div>
        </div>
    </div>
</section> 