<!-- Advantages Section -->
<section class="advantages-section">
  <div class="container">
    <ul class="advantages-list list">
      <img class="advantages__icon" src="./images/advantages/advantage-icon1-1x.png" alt="молоко" width="33px" height="50px">
      <li class="advantages-list__item">
        <p class="advantages-list__number">721</p>
        <p class="advantages-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>

      <li class="advantages-list__item">
        <img class="advantages__icon" src="./images/advantages/advantage-icon2-1x.png" alt="яблоки" width="50px" height="50px">
        <p class="advantages-list__number">16kg</p>
        <p class="advantages-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages-list__item">
        <img class="advantages__icon" src="./images/advantages/advantage-icon3-1x.png" alt="яблоки" width="50px" height="50px">
        <p class="advantages-list__number">84</p>
        <p class="advantages-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
