<section class="customer-reviews">
    <div class="customer-reviews__container container">
        <h2 class="hidden">Отзывы</h2>
        <ul class="list">
            <li>
                <img src="./images/customers/customer1-1x.png" class="customer-reviews__img" alt="Девушка">
                <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                <h3 class="customer-reviews__titl">Emily, Los Angeles</h3>
            </li>
        </ul>
    </div>
</section>