<section class="customer-reviews">
    <div class="container">
        <h2 class="hidden">Отзывы</h2>

        <ul class="customer-reviews__list list">
            <li class="customer-reviews__item">
                <img src="./images/customers/customer1-1x.png" class="customer-reviews__img" alt="Девушка">
                <div class="customer-reviews__box"> 
                    <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <h3 class="customer-reviews__titl">Emily, Los Angeles</h3>
            </li>
        </ul>

        <div class="customer-reviews__dots">
            <span class="customer-reviews__dot--icon"><svg class="customer-reviews__icon" width="12" height="12">
                <use href="./images/icons.svg#icon-home"></use>
            </svg></span>
            <span class="customer-reviews__dot"></span>
            <span class="customer-reviews__dot"></span>
        </div>

    </div>
</section>