<footer class="footer">
  <div class="container">
    <div class="footer__main">
      <div class="footer__slogan">
        <p class="footer__pre-text">homemade ice cream made</p>
        <p class="footer__after-text">with passion</p>
      </div>
      <div class="footer__contacts">
        <ul class="footer-soc">
          <li class="footer-soc__item">
            <a href="" class="footer-soc__link" target="_blank" noopener noreferrer>
              <svg class="footer-soc__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc__item">
            <a href="" class="footer-soc__link" target="_blank" noopener noreferrer>
              <svg class="footer-soc__icon" width="20" height="16">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc__item">
            <a href="" class="footer-soc__link" target="_blank" noopener noreferrer>
              <svg class="footer-soc__icon" width="10" height="21">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="footer__contacts">
          <p>Feel free to contact <spam class="red-letter"> +61 (0) 383 766 284</spam></p>
        </div>
      </div>
    </div>
    <div class="footer__trademark">&copy 2019 - IceCream. All Rights Reserved.</div>
  </div>
</footer>
