<footer class="footer">
  <div class="container">
    <div class="footer__main">
      <p class="footer__pre-text">
        homemade ice cream made<br />
        <span class="footer__after-text">with passion</span>
      </p>
      <div class="footer__contacts">
        <ul class="footer-soc list">
          <li class="footer-soc__item">
            <a
              href="https://github.com/"
              class="footer-soc__link link"
              target="_blank"
              rel="noopener
              noreferrer "
            >
              <svg class="footer-soc__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc__item list">
            <a
              href="https://web.telegram.org/"
              class="footer-soc__link link"
              target="_blank"
              rel="noopener
              noreferrer "
            >
              <svg class="footer-soc__icon" width="19" height="15">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc__item list">
            <a
              href="https://www.facebook.com"
              class="footer-soc__link link"
              target="_blank"
              rel="noopener
              noreferrer "
            >
              <svg class="footer-soc__icon" width="10" height="21">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="footer__contact-text">
          Feel free to contact
          <a class="footer-tel link" href="tel:+610383766284"> +61 (0) 383 766 284</a>
        </p>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p class="footer-bottom__trademark">&#169; 2021 - IceCream. All Rights Reserved.</p>
  </div>
  <div class="scrollup">
    <!-- Иконка прокрутки сайта вверх -->
    <i class="fa fa-chevron-up"></i>
  </div>
</footer>
