<div class="backdrop-fran is-hidden-fran" data-fran>
    <div class="franchise">
        <h2 class="franchise__title">Franchise ice cream</h2>
        <div class="franchise__thumb">
            <picture>
                <source srcset="
                                ./images/gallery-desktop/many-ice-cream4-1x.jpg 1x,
                                ./images/gallery-desktop/many-ice-cream4-2x.jpg 2x
                            " media="(min-width:1200px)" />
                <source srcset="
                                ./images/gallery-tablet/many-ice-cream4-1x.jpg 1x,
                                ./images/gallery-tablet/many-ice-cream4-2x.jpg 2x
                            " media="(min-width:768px)" />
                <source srcset="
                                ./images/gallery-mobile/many-ice-cream4-1x.jpg 1x,
                                ./images/gallery-mobile/many-ice-cream4-2x.jpg 2x
                            " media="(min-width:320px)" />
                <img class="gallery-thumb__image" src="./images/gallery-mobile/many-ice-cream4-1x.jpg" alt="Many ice-cream" />
            </picture>
            <div class="thumb__text">
                <p class="franchise__text">Investments: from 1000 $</p>
                <p class="franchise__text">Viability: 4 month</p>
                <div class="franshise__button--center">
                    <button type="submit" class="modal__button">
                        Get a finplan
                    </button>
                </div>
            </div>
        </div>
        <button type="button" class="frahchise-close" data-fran-close>
            <i class="fas fa-times"></i>
        </button>
    </div>    
</div>