<!-- <section class="gallery-section">
      <div class="container">
<div class="gallery-thumb ">
  <div class=""></div>
      <picture class="gallery-thumb__image">
        <source
          srcset="./images/gallery/gallery-desc1x.jpg 1x, ./images/gallery/gallery-desc2x.jpg 2x" 
          media="(min-width:1200px)" sizes="100vw"/>
        <source 
          srcset="./images/gallery/gallery-tablet1x.jpg 1x,
            ./images/gallery/gallery-tablet2x.jpg 2x
          "
          media="(min-width:768px)" sizes="100vw"
        />
        <source
          
          srcset="
            ./images/gallery/gallery-mobile1x.jpg 1x,
            ./images/gallery/gallery-mobile2x.jpg 2x
          "
          media="(min-width:320px)" sizes="100vw"
        />
        
        <img src="./images/gallery/gallery-mobile1x.jpg" sizes="100vw" alt="Фото мороженого" />
      </picture>
    </div>
  </div>
  </div>
  </section> -->

<!-- <section class="gallery-section">
  <div class="container">
    <div class="gallery-thumb">
      <div class="gallery-thumb__column">
        <div class="gallery-thumb__item">
          <img
            class="gallery-thumb__image"
            src="./images/gallery-cards/gallery1.jpg"
            alt="ice-cream"
          />
        </div>
      </div>
      <div class="gallery-thumb__column">
        <div class="gallery-thumb__item">
          <img
            class="gallery-thumb__image"
            src="./images/gallery-cards/gallery2.jpg"
            alt="ice-cream"
          />
        </div>
        <div class="gallery-thumb__item">
          <img
            class="gallery-thumb__image"
            src="./images/gallery-cards/gallery3.jpg"
            alt="ice-cream"
          />
        </div>
      </div>
      <div class="gallery-thumb__column">
        <div class="gallery-thumb__item">
          <img
            class="gallery-thumb__image--big"
            src="./images/gallery-cards/gallery4.jpg"
            alt="ice-cream"
          />
        </div>
        <div class="gallery-thumb__item--small">
          <img
            class="gallery-thumb__image"
            src="./images/gallery-cards/gallery5.jpg"
            alt="ice-cream"
          />
        </div>
      </div>
      <div class="gallery-thumb__column">
        <div class="gallery-thumb__item">
          <img
            class="gallery-thumb__image"
            src="./images/gallery-cards/gallery6.jpg"
            alt="ice-cream"
          />
        </div>
        <div class="gallery-thumb__item">
          <img
            class="gallery-thumb__image"
            src="./images/gallery-cards/gallery7.jpg"
            alt="ice-cream"
          />
        </div>
      </div>
      <div class="gallery-thumb__column">
        <div class="gallery-thumb__item">
          <img
            class="gallery-thumb__image"
            src="./images/gallery-cards/gallery8.jpg"
            alt="ice-cream"
          />
        </div>
        <div class="gallery-thumb__item">
          <img
            class="gallery-thumb__image"
            src="./images/gallery-cards/gallery9.jpg"
            alt="ice-cream"
          />
        </div>
      </div>
      <div class="gallery-thumb__column">
        <div class="gallery-thumb__item">
          <img
            class="gallery-thumb__image"
            src="./images/gallery-cards/gallery10.jpg"
            alt="ice-cream"
          />
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="gallery-section">
  <div class="container">
    <div class="gallery-thumb">
      <div class="gallery-thumb__column">
        <div class="gallery-thumb__item">
          <picture
            ><source
              srcset="
                ./images/gallery-desktop/green-ice-cream1-1x.jpg 1x,
                ./images/gallery-desktop/green-ice-cream1-2x.jpg 2x
              "
              media="(min-width:1200px)"
              sizes="100vw" />
            <source
              srcset="
                ./images/gallery-tablet/green-ice-cream1-1x.jpg 1x,
                ./images/gallery-tablet/green-ice-cream1-2x.jpg 2x
              "
              media="(min-width:768px)"
              sizes="100vw" />
            <source
              srcset="
                ./images/gallery-mobile/green-ice-cream1-1x.jpg 1x,
                ./images/gallery-mobile/green-ice-cream1-2x.jpg 2x
              "
              media="(min-width:320px)"
              sizes="100vw" />
            <img
              class="gallery-thumb__image"
              src="./images/gallery-mobile/green-ice-cream1-1x.jpg"
              sizes="100vw"
              alt="Зеленое мороженое"
          /></picture>
        </div>
      </div>
      <div class="gallery-thumb__column">
        <div class="gallery-thumb__item">
          <picture
            ><source
              srcset="
                ./images/gallery-desktop/ice-cream-cone2-1x.jpg 1x,
                ./images/gallery-desktop/ice-cream-cone2-2x.jpg 2x
              "
              media="(min-width:1200px)"
              sizes="100vw" />
            <source
              srcset="
                ./images/gallery-tablet/ice-cream-cone2-1x.jpg 1x,
                ./images/gallery-tablet/ice-cream-cone2-2x.jpg 2x
              "
              media="(min-width:768px)"
              sizes="100vw" />
            <source
              srcset="
                ./images/gallery-mobile/ice-cream-cone2-1x.jpg 1x,
                ./images/gallery-mobile/ice-cream-cone2-2x.jpg 2x
              "
              media="(min-width:320px)"
              sizes="100vw" />
            <img
              class="gallery-thumb__image"
              src="./images/gallery-mobile/ice-cream-cone2-1x.jpg"
              sizes="100vw"
              alt="Рожок мороженого"
          /></picture>
        </div>
        <div class="gallery-thumb__item">
          <picture
            ><source
              srcset="
                ./images/gallery-desktop/berry-ice-cream3-1x.jpg 1x,
                ./images/gallery-desktop/berry-ice-cream3-2x.jpg 2x
              "
              media="(min-width:1200px)"
              sizes="100vw" />
            <source
              srcset="
                ./images/gallery-tablet/berry-ice-cream3-1x.jpg 1x,
                ./images/gallery-tablet/berry-ice-cream3-2x.jpg 2x
              "
              media="(min-width:768px)"
              sizes="100vw" />
            <source
              srcset="
                ./images/gallery-mobile/berry-ice-cream3-1x.jpg 1x,
                ./images/gallery-mobile/berry-ice-cream3-2x.jpg 2x
              "
              media="(min-width:320px)"
              sizes="100vw" />
            <img
              class="gallery-thumb__image"
              src="./images/gallery-mobile/berry-ice-cream3-1x.jpg"
              sizes="100vw"
              alt="Ягодное мороженое"
          /></picture>
        </div>
      </div>
      <div class="gallery-thumb__column">
        <div class="gallery-thumb__item">
          <picture
            ><source
              srcset="
                ./images/gallery-desktop/many-ice-cream4-1x.jpg 1x,
                ./images/gallery-desktop/many-ice-cream4-2x.jpg 2x
              "
              media="(min-width:1200px)"
              sizes="100vw" />
            <source
              srcset="
                ./images/gallery-tablet/many-ice-cream4-1x.jpg 1x,
                ./images/gallery-tablet/many-ice-cream4-2x.jpg 2x
              "
              media="(min-width:768px)"
              sizes="100vw" />
            <source
              srcset="
                ./images/gallery-mobile/many-ice-cream4-1x.jpg 1x,
                ./images/gallery-mobile/many-ice-cream4-2x.jpg 2x
              "
              media="(min-width:320px)"
              sizes="100vw" />
            <img
              class="gallery-thumb__image"
              src="./images/gallery-mobile/many-ice-cream4-1x.jpg"
              sizes="100vw"
              alt="Много мороженого"
          /></picture>
        </div>
        <div class="gallery-thumb__item--small">
          <picture
            ><source
              srcset="
                ./images/gallery-desktop/girl-ice-cream5-1x.jpg 1x,
                ./images/gallery-desktop/girl-ice-cream5-2x.jpg 2x
              "
              media="(min-width:1200px)"
              sizes="100vw" />
            <source
              srcset="
                ./images/gallery-tablet/girl-ice-cream5-1x.jpg 1x,
                ./images/gallery-tablet/girl-ice-cream5-2x.jpg 2x
              "
              media="(min-width:768px)"
              sizes="100vw" />
            <source
              srcset="
                ./images/gallery-mobile/girl-ice-cream5-1x.jpg 1x,
                ./images/gallery-mobile/girl-ice-cream5-2x.jpg 2x
              "
              media="(min-width:320px)"
              sizes="100vw" />
            <img
              class="gallery-thumb__image"
              src="./images/gallery-mobile/girl-ice-cream5-1x.jpg"
              sizes="100vw"
              alt="Девочка с мороженым"
          /></picture>
        </div>
      </div>
      <div class="gallery-thumb__column">
        <div class="gallery-thumb__item">
          <picture
            ><source
              srcset="
                ./images/gallery-desktop/ice-breakfast6-1x.jpg 1x,
                ./images/gallery-desktop/ice-breakfast6-2x.jpg 2x
              "
              media="(min-width:1200px)"
              sizes="100vw" />
            <source
              srcset="
                ./images/gallery-tablet/ice-breakfast6-1x.jpg 1x,
                ./images/gallery-tablet/ice-breakfast6-2x.jpg 2x
              "
              media="(min-width:768px)"
              sizes="100vw" />
            <source
              srcset="
                ./images/gallery-mobile/ice-breakfast6-1x.jpg 1x,
                ./images/gallery-mobile/ice-breakfast6-2x.jpg 2x
              "
              media="(min-width:320px)"
              sizes="100vw" />
            <img
              class="gallery-thumb__image"
              src="./images/gallery-mobile/ice-breakfast6-1x.jpg"
              sizes="100vw"
              alt="Завтрак с мороженым"
          /></picture>
        </div>
        <div class="gallery-thumb__item">
          <picture
            ><source
              srcset="
                ./images/gallery-desktop/city-ice-cream7-1x.jpg 1x,
                ./images/gallery-desktop/city-ice-cream7-2x.jpg 2x
              "
              media="(min-width:1200px)"
              sizes="100vw" />
            <source
              srcset="
                ./images/gallery-tablet/city-ice-cream7-1x.jpg 1x,
                ./images/gallery-tablet/city-ice-cream7-2x.jpg 2x
              "
              media="(min-width:768px)"
              sizes="100vw" />
            <source
              srcset="
                ./images/gallery-mobile/city-ice-cream7-1x.jpg 1x,
                ./images/gallery-mobile/city-ice-cream7-2x.jpg 2x
              "
              media="(min-width:320px)"
              sizes="100vw" />
            <img
              class="gallery-thumb__image"
              src="./images/gallery-mobile/city-ice-cream7-1x.jpg"
              sizes="100vw"
              alt="Мороженое в городе"
          /></picture>
        </div>
      </div>
      <div class="gallery-thumb__column">
        <div class="gallery-thumb__item">
          <picture
            ><source
              srcset="
                ./images/gallery-desktop/dog-ice-cream8-1x.jpg 1x,
                ./images/gallery-desktop/dog-ice-cream8-2x.jpg 2x
              "
              media="(min-width:1200px)"
              sizes="100vw" />
            <source
              srcset="
                ./images/gallery-tablet/dog-ice-cream8-1x.jpg 1x,
                ./images/gallery-tablet/dog-ice-cream8-2x.jpg 2x
              "
              media="(min-width:768px)"
              sizes="100vw" />
            <source
              srcset="
                ./images/gallery-mobile/dog-ice-cream8-1x.jpg 1x,
                ./images/gallery-mobile/dog-ice-cream8-2x.jpg 2x
              "
              media="(min-width:320px)"
              sizes="100vw" />
            <img
              class="gallery-thumb__image"
              src="./images/gallery-mobile/dog-ice-cream8-1x.jpg"
              sizes="100vw"
              alt="Собака кушает мороженое"
          /></picture>
        </div>
        <div class="gallery-thumb__item">
          <picture
            ><source
              srcset="
                ./images/gallery-desktop/ice-cream-shake9-1x.jpg 1x,
                ./images/gallery-desktop/ice-cream-shake9-2x.jpg 2x
              "
              media="(min-width:1200px)"
              sizes="100vw" />
            <source
              srcset="
                ./images/gallery-tablet/ice-cream-shake9-1x.jpg 1x,
                ./images/gallery-tablet/ice-cream-shake9-2x.jpg 2x
              "
              media="(min-width:768px)"
              sizes="100vw" />
            <source
              srcset="
                ./images/gallery-mobile/ice-cream-shake9-1x.jpg 1x,
                ./images/gallery-mobile/ice-cream-shake9-2x.jpg 2x
              "
              media="(min-width:320px)"
              sizes="100vw" />
            <img
              class="gallery-thumb__image"
              src="./images/gallery-mobile/ice-cream-shake9-1x.jpg"
              sizes="100vw"
              alt="Коктейль с мороженым"
          /></picture>
        </div>
      </div>
      <div class="gallery-thumb__column">
        <div class="gallery-thumb__item">
          <picture
            ><source
              srcset="
                ./images/gallery-desktop/flower-ice-cream10-1x.jpg 1x,
                ./images/gallery-desktop/flower-ice-cream10-2x.jpg 2x
              "
              media="(min-width:1200px)"
              sizes="100vw" />
            <source
              srcset="
                ./images/gallery-tablet/flower-ice-cream10-1x.jpg 1x,
                ./images/gallery-tablet/flower-ice-cream10-2x.jpg 2x
              "
              media="(min-width:768px)"
              sizes="100vw" />
            <source
              srcset="
                ./images/gallery-mobile/flower-ice-cream10-1x.jpg 1x,
                ./images/gallery-mobile/flower-ice-cream10-2x.jpg 2x
              "
              media="(min-width:320px)"
              sizes="100vw" />
            <img
              class="gallery-thumb__image"
              src="./images/gallery-mobile/flower-ice-cream10-1x.jpg"
              sizes="100vw"
              alt="Мороженое цветок"
          /></picture>
        </div>
      </div>
    </div>
  </div>
</section>
