<header class="header">
    <nav class="header-nav">
        <a class="header-logo" href=""></a>
        <ul class="header-list">
            <li class="header-item">
                <a href="">Home</a></li>
            <li class="header-item">
                <a href="">About us</a></li>
            <li class="header-item">
                <a href="">How it’s made?</a></li>
            <li class="header-item">
                <a href="">Our products</a></li>
            <li class="header-item">
                <a href="">Contact</a></li>
        </ul>
    </nav>
    <button type="submit" class="button">Buy now
        <svg class="icon-submit" width="4" height="8">
            <use href=""></use>
        </svg>
    </button>
