<header class="header">
    <a class="header-logo" href="" ></a>
    <ul class="haeder-list list">
        <li class="header-link link">
            <a class="header-item current" href="">Home
            </a></li>
        <li class="header-link link">
            <a class="header-item link" href="">About us</a></li>
        <li class="header-link">
            <a class="header-item link" href="">How it’s made?</a></li>
        <li class="header-link">
            <a class="header-item link" href="">Our products</a></li>
        <li class="header-link">
            <a class="header-item link" href="">Contact</a></li>
    </ul>

    <button type="submit" class="button-submit">Buy now
        <svg class="icon" width="4" height="8">
            <use href=""></use>
        </svg>
    </button>            
</header>

<section class="hero">
    <h1 class="hiro-titel"><span class="titel-first">ice cream made with</span>passion</h1>
    <button type="button">Products</button>
    <button type="button">How it’s made?</button>
    <img src="" alt="BioEco">
    <p class="hiro-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    <button type="button">
        <svg class="icon" width="4" height="8">
            <use href=""></use>
        </svg>
    </button>
</section>