<header class="header">
  <div class="container">
    <div class="logo">
      <img class="logo-img" srcset="./images/logo1x.png 1x, ./images/logo2x.png 2x" alt="Logo" />
    </div>
    <nav class="header-nav">
      <ul class="haeder-list list">
        <li class="header-link">
          <a class="header-item link" href="">Home</a>
        </li>
        <li class="header-link">
          <a class="header-item link" href="#about-us">About us</a>
        </li>
        <li class="header-link">
          <a class="header-item link" href="#howitsmade">How it’s made?</a>
        </li>
        <li class="header-link">
          <a class="header-item link" href="#products">Our products</a>
        </li>
        <li class="header-link">
          <a class="header-item link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="button-burger js-open-menu" aria-label="Открывает мобильное меню"
    data-menu-button>
      <!-- <svg class="icon-burger-open" width="20" height="12">
        <use href="./images/icons.svg#icon-burger-open"></use>
      </svg> -->
      <i class="fas fa-bars"></i>
    </button>

    <button type="submit" class="button-submit" data-form-modal-open>Buy now ></button>
  </div>

</header>

<section class="hero">
  <div class="container">
    <div class="titel-box">
      <h1 class="hero-titel"><span class="titel-first">ice cream made with </span>passion</h1>
      <div class="button-box">
        <button type="button" class="button-hero1" >Products</button>
        <button type="button" class="button-hero2" >How it’s made?</button>
      </div>
    </div>
    <div class="milk-box">
      <picture class="picture-icecream">
        <source srcset="./images/hero/hero-milk-desc1x.png 1x, ./images/hero/hero-milk-desc2x.png 2x"
          media="(min-width:1280px)">
        <source srcset="./images/hero/hero-milk-tablet1x.png 1x, ./images/hero/hero-milk-tablet2x.png 2x"
          media="(min-width:768px)">
        <img src="./images/hero/hero-milk-desc1x.png" alt="BioEco">
      </picture>
    </div>
    <div class="milk-text">
      <p class="hero-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      </p>
      <button type="button" class="button-item">
        <svg class="icon-arrow-right" width="8" height="8">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>

    <div class="circle"></div>
   
      <div class="hero-icecream">
        <picture class="picture-icecream">
          <source srcset="./images/hero/hero-ice-cream-desc1x.png 1x, ./images/hero/hero-ice-cream-desc2x.png 2x"
            media="(min-width:1280px)">
            <source srcset="./images/hero/hero-ice-cream-tablet1x.png 1x, ./images/hero/hero-ice-cream-tablet2x.png 2x"
              media="(min-width:768px)">
          <source srcset="./images/hero/hero-ice-cream-mobile1x.png 1x, ./images/hero/hero-ice-cream-mobile2x.png 2x"
            media="(min-width:320px)">
          <img src="./images/hero/hero-ice-cream-desc1x.png" alt="IceCream">
        </picture>
      </div>

    <div class="hero-girl">
      <picture class="picture-girl">
        <source srcset="./images/hero/hero-girl-desc1x.png 1x, ./images/hero/hero-girl-desc2x.png 2x"
          media="(min-width:1280px)">
        <source srcset="./images/hero/hero-girl-tablet1x.png 1x, ./images/hero/hero-girl-tablet2x.png 2x"
          media="(min-width:768px)">
        <img src="./images/hero/hero-girl-desc1x.png" alt="Girl">
      </picture>
  </div>

  <div class="hero-chain">
    <div class="cafes">
      <div class="circle-chain"></div>
      <p class="chain-titil">16</p>
      <p class="chain-text">cafes</p>
    </div>
    <div class="food-trucks">
      <div class="circle-chain"></div>
      <p class="chain-titil">23</p>
      <p class="chain-text">food trucks</p>
    </div>
  </div>
  
</section>
