<header class="header">
  <a href="" class="header-logo">
    <img class="logo-img" src="./images/logo1x.png" alt="Logo" />
  </a>
  <nav class="header-nav">
    <ul class="haeder-list list">
      <li class="header-link">
        <a class="header-item link" href="">Home</a>
      </li>
      <li class="header-link">
        <a class="header-item link" href="">About us</a>
      </li>
      <li class="header-link">
        <a class="header-item link" href="">How it’s made?</a>
      </li>
      <li class="header-link">
        <a class="header-item link" href="">Our products</a>
      </li>
      <li class="header-link">
        <a class="header-item link" href="">Contact</a>
      </li>
    </ul>
  </nav>
  <button type="submit" class="button-submit button">
    Buy now
    <svg class="icon-right-vector" width="4" height="8">
      <!-- <use href="./images/icons.svg#icon-right-vector"></use> -->
    </svg>
  </button>
</header>

<section class="hero">
  <div class="conteiner">
    <div class="titel-box">
      <h1 class="hero-titel"><span class="titel-first">ice cream made with </span>passion</h1>
    </div>

    <button type="button" class="button-hero1">Products</button>
    <button type="button" class="button-hero2">How it’s made?</button>
    <img src="" alt="BioEco" />
    <p class="hero-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
    </p>
    <button type="button" class="button">
      <svg class="icon" width="4" height="8">
        <use href=""></use>
      </svg>
    </button>
  </div>
</section>
