<div class="menu-container js-menu-container is-hidden" id="mobile-menu">
  <button
    type="button"
    class="menu-toggle js-close-menu"
    aria-label="Закрывает мобильное меню"
    data-menu-button
  >
    <svg class="mobile-menu__close-icon">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <button type="submit" class="header-button_right button-submit_mob" data-form-modal-open>
    Buy now<i class="fas fa-angle-right fa-angle-right"></i>
  </button>

  <ul class="mobile-menu list">
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link" href="">Home</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link" href="">About Us</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link" href="">How it’s made?</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link" href="">Our products</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link" href="">Contact</a>
    </li>
  </ul>
</div>
