<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="mobile-menu__close-icon">
      <use href="./images/icons.svg#icon-burger-close"></use>
    </svg>
  </button>

  <ul class="mobile-menu list">
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link" href="./index.html">Студия</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link" href="./portfolio.html">Портфолио</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link" href="">Контакты</a>
    </li>
  </ul>
  <ul class="mobile-contacts list">
    <li class="mobile-contacts__tel">
      <a href="tel:+380961111111" class="link_active link"> +38 096 111 11 11</a>
    </li>
    <li class="mobile-contacts__addr">
      <a href="email:info@devstudio.com" class="link"> info@devstudio.com</a>
    </li>
  </ul>
</div>
