<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="mobile-menu__close-icon">
      <use href="./images/icons.svg#icon-burger-close"></use>
    </svg>
  </button>

  <button type="submit" class="button-submit header-button_right">Buy now</button>

  <ul class="mobile-menu list">
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link" href="">Home</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link" href="">About Us</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link" href="">How it’s made?</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link" href="">Our products</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link" href="">Contact</a>
    </li>
  </ul>
</div>
