<div class="backdrop-modal-read-more is-hidden-modal-read-more" data-modal-read-more>
  <form action="#" class="modal-read-more-form">
      <img class="modal-read-more__finish--image" src="./images/cream_pink_icon.png" alt="">
    <button type="button" class="modal-read-more__close" data-modal-read-more-close>X</button>
    <b class="modal-read-more__title">Homemade ice cream</b>
    <div class="modal-read-more__area">
        <div class="modal-read-more__card">
          <div class="modal-recipe__icon--icon"> <i class="fa-solid fa-timer"></i></div>
      <!-- <svg class="modal-recipe__icon--icon" width="30" height="30">
        <use href="./images/icons.svg#icon-clock_icon"></use>
      </svg> -->
      <ul class="modal-recipe__thumb">
        <li class="modal-recipe__time">
          <p class="modal-recipe__text">Prep Time</p>
          <span class="modal-recipe__text--time">10 minutes</span></li>
          <li class="modal-recipe__time">
              <p class="modal-recipe__text">Chill Time</p>
          <span class="modal-recipe__text--time">4 hours</span>
        </li>
        </ul>
          <div class="modal-recipe__description">
            <div class="modal-recipe__icon--icon"><i class="fa-solid fa-user-chef"></i>  
            </div> 
            <!-- width="30" height="30">
              <use href="./images/icons.svg#icon-food_icon"></use>
            </svg> -->
            <h5 class="modal-recipe__description--title">Let`s cook</h5>
          </div>
          <div class="modal-recipe__instruction--card">
            <p class="modal-recipe__instruction">
              Use a hand mixer to whip the cream until stiff peaks
              occur. The cream will be done when you pull the beaters
              out and the cream stands at attention.
            </p>

            <p class="modal-recipe__instruction">
              Whisk the vanilla into the sweetened condensed milk. Gently
              fold in the whipped cream with a spatula, slowly incorporating the two mixtures
              together so it stays light and aerated.
            </p>
            <p class="modal-recipe__instruction">
              Scoop the cream mixture into smaller bowls and gently
              fold in your desired mix-ins, or if making just one flavor, mix the ingredients
              directly into the cream mixture. freeze for 4-6 hours.
            </p>
          </div>
      
      <div class="modal-read-more__finish">
        <h5 class="modal-read-more__finish--title">Enjoy your meal</h5>
        <div class="modal-read-more__finish--image"></div>
      </div>
    </div>
  </form>
</div>
