<section>
  <div class="container">
    <p class="smoll-title">100% natural</p>
    <h2 class="title">products</h2>
    <ul class="card list">
      <li class="card-set">
        <div class="card-set-cream">
        <h3 class="title-second">ice cream</h3>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
        aliqua facilisis.</p>
        <button class="button"></button>
        </div>
      </li>
      <li class="card-set ">
        <div class="card-set-coffee">
        <h3 class="title-second ">ice coffee</h3>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
        aliqua facilisis.</p>
        <button type="button" class="button">
          </button>
        </div>
      </li>
      <li class="card-set">
        <div class="card-set-milkshakes">
        <h3 class="title-second">milkshakes</h3>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
        aliqua facilisis.</p>
        <button type="button" class="button"></button>
        </div>
      </li>
    </ul>
  </div>
</section>
