<section class="section-card" id="products">
  <div class="container">
    <p class="smoll-title">100% natural</p>
    <h2 class="title">products</h2>
    <ul class="card list">
      <li class="card-set">
        <div class="card-set-cream">
        <h3 class="title-second">ice cream</h3>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
        <button type="button" class="button-card js-open-products3"><svg class="icon-arrow">
          <use href="./images/icons.svg#icon-arrow-right" width="13" height="13"></use>
        </svg></button>
          <div class="products-container-cream js-products3-container" id="products-card">
            <button class="toggle-products js-close-products3">
              <svg width="40" height="40" aria-label="Пееключатель мобильного меню">
                <use href="./images/icons.svg#icon-modal-form-close"></use>
              </svg>
            </button>
            <div>
              <h3 class="products-container-title">ice cream</h3>
              <p class="products-container-text">
            ice cream is a delicate creamy milk mixture with a banana filling. Delicious delicacy that melts in your mouth, will give you a pleasant coolness and good mood.
            Nutritional value 691 kJ per 100 g
              Calories 225 kcal
              Proteins 4.1 g
              Fat 4.1 g
              Carbohydrates 43.3 g
              Allergens milk and products of its processing
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="card-set ">
        <div class="card-set-coffee">
        <h3 class="title-second ">ice coffee</h3>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. 
       </p>
        <button type="button" class="button-card js-open-products2  " aria-expanded="false" aria-controls="products-card">
          <svg class="icon-arrow"  aria-label="Пееключатель oписания продукта">
          <use href="./images/icons.svg#icon-arrow-right" width="13" height="13"></use>
        </svg>
          </button>
          <div class="products-container-coffee js-products2-container" id="products-card">
            <button class="toggle-products js-close-products2">
              <svg class="products-close" width="40" height="40" aria-label="Пееключатель мобильного меню">
                <use href="./images/icons.svg#icon-modal-form-close"></use>
              </svg>
            </button>
            <div>
              <h3 class="products-container-title">ice coffee</h3>
              <p class="products-container-text">
                ice coffee is a delicate creamy milk mixture with a banana filling. Delicious delicacy that melts in your mouth, will
                give you a pleasant coolness and good mood.
                Nutritional value 691 kJ per 100 g
                Calories 225 kcal
                Proteins 4.1 g
                Fat 4.1 g
                Carbohydrates 43.3 g
                Allergens milk and products of its processing
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="card-set">
        <div class="card-set-milkshakes">
        <h3 class="title-second">milkshakes</h3>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. 
        </p>
        <button type="button" class="button-card js-open-products  " aria-expanded="false" aria-controls="products-card" >
          <svg class="icon-arrow"  aria-label="Пееключатель oписания продукта">
            <use href="./images/icons.svg#icon-arrow-right" width="13" height="13"></use>
          </svg>
        </button>
          <div class="products-container js-products-container" id="products-card">
            <button class="toggle-products js-close-products">
              <svg width="40" height="40" aria-label="Пееключатель oписания продукта">
                <use href="./images/icons.svg#icon-modal-form-close"></use>
              </svg>
            </button>
            <div>
              <h3 class="products-container-title">milkshakes</h3>
              <p class="products-container-text">
                milkshakes is a delicate creamy milk mixture with a banana filling. Delicious delicacy that melts in your mouth, will
                give you a pleasant coolness and good mood.
                Nutritional value 691 kJ per 100 g
                Calories 225 kcal
                Proteins 4.1 g
                Fat 4.1 g
                Carbohydrates 43.3 g
                Allergens milk and products of its processing
              </p>
            </div>
          </div>
        </div>
      
      </li>
    </ul>
  </div>



 
 
</section>
