<section>
  <div class="container">
    <p class="smoll-title">100% natural</p>
    <h2 class="title">products</h2>
    <ul class="card list">
      <li class="card-set">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
        aliqua facilisis.</p>
        <button type="button"></button>
      </li>
      <li>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
        aliqua facilisis.</p>
        <button type="button"></button>
      </li>
      <li>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
        aliqua facilisis.</p>
        <button type="button"></button>
      </li>
    </ul>
  </div>
</section>
