.about {
  background-color: $bg-color;
  padding-top: 125px;
  padding-bottom: 60px;
}

.about-background {
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;

  @media screen and (max-width: 767px) {
    background-image: url(../images/about/about-bg-mobile1x.png);
    background-position-y: 88%;
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/about/about-bg-desc1x.png);
    background-position-y: 270px;
  }
}

.about-pre-title {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.17;
  font-family: Titan One;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $second-color;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.33;
  }
}

.about-title {
  font-family: Titan One;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  margin: auto;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $main-color;

  @media screen and (max-width: 767px) {
    width: 200px;
  }

  @media screen and (min-width: 768px) {
    font-size: 48px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
  }
}

.about-content {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/cow/cow-mobile1x.png);
  background-position: top;
  padding-top: 400px;

  @media screen and (min-width: 768px) {
    background-image: url(../images/cow/cow-tablet1x.png);
    background-position: top left;
    padding-left: 360px;
    padding-top: 0px;
    background-size: auto;
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/cow/cow-desc1x.png);
    padding-left: 580px;
    padding-top: 1px;
  }
}

.about-right-info {
  @media screen and (min-width: 768px) {
    margin-top: 50px;
    max-width: 340px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 465px;
  }
}

.about-sub-title {
  margin-bottom: 35px;
  font-size: 12px;
  line-height: 1.62;
  letter-spacing: 0.04em;

  color: $text-color;

  @media screen and (min-width: 480px) {
    font-size: 14px;
    line-height: 1.76;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    margin-bottom: 35px;
  }
}

.about-text {
  margin-bottom: 45px;
  font-size: 12px;
  line-height: 1.62;
  letter-spacing: 0.04em;

  color: $second-text-color;

  @media screen and (min-width: 480px) {
    font-size: 14px;
    line-height: 1.76;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    margin-bottom: 45px;
  }
}
