.about {
    background-color: #FFF5F6;
}

.about-pre-title {
margin-bottom: 15px;

font-family: Titan One;
font-size: 30px;
line-height: 1.33;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;

color: #FFA5BA;
}

.about-title {
margin-bottom: 55px;

font-family: Titan One;
font-size: 58px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #D41443;
}

.about-content {
}

.about-background {
}

.about-foto {
}

.about-right-info {
}

.about-sub-title{
margin-bottom: 35px;   

font-family: DM Sans;
font-weight: 500;
font-size: 16px;
line-height: 1.76;
letter-spacing: 0.04em;

color: #000000;
}

.about-text{
margin-bottom: 45px;    
font-family: DM Sans;
font-weight: 500;
font-size: 14px;
line-height: 1.94;

letter-spacing: 0.04em;

color: #907E82;
}

.about-btn{
font-family: DM Sans;
font-weight: 900;
font-size: 16px;
line-height: 1.31;
display: flex;
align-items: center;
text-align: center;

color: #D41443;

border: none;
background-color: #FFFFFF;
border-radius: 22px;

}
