.advantages-section {
  padding-bottom: 97px;
}

.advantages-list__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  color: #000000;
}
.advantages-list__number {
  font-family: Titan One;
  font-size: 36px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #d41443;
  margin-bottom: 16px;
}
.advantages__icon {
  margin-bottom: 16px;
}

.advantages-list__item {
  margin-bottom: 38px;
  position: relative;
  &:last-child {
    margin-bottom: 0;
  }
}
// .advantages-list__item::before {
//   top: 0;
//   left: 0;
//   content: '';
//   display: block;
//   background-position: center;
//   background-size: cover;
//   position: absolute;
//   background-image: url(./images/advantages/advantage-icon1-1x.png),
//   url(./images/advantages/advantage-icon1-2x.png);
// }
