.advantages-section {
  padding-top: 26px;
  padding-bottom: 97px;
  background-color: $bg-color;
}
.advantages-list {
  position: relative;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-left: -30px;
    margin-top: -30px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    margin-left: -15px;
    margin-top: -15px;
  }
}

.advantages-list__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: #000000;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.74;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
  }
}
.advantages-list__number {
  font-family: Titan One;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $main-color;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    font-size: 48px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
  }
}
// .advantages__icon {
//   margin-bottom: 16px;
// }

.advantages-list__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 38px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 60px);
    margin-left: 30px;
    margin-top: 30px;
  }
  @media screen and (min-width: 1280px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 15px;
    margin-top: 15px;
  }
}

.advantages-list__item__icon1::before {
  top: 0;
  display: flex;
  margin-bottom: 16px;
  width: 33px;
  height: 50px;
  content: '';
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(..//images/advantages/advantage-icon1-1x.png),
    url(..//images/advantages/advantage-icon1-2x.png);

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.advantages-list__item__icon2::before {
  top: 0;
  display: flex;
  margin-bottom: 16px;
  width: 50px;
  height: 50px;
  content: '';
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(..//images/advantages/advantage-icon2-1x.png),
    url(..//images/advantages/advantage-icon2-2x.png);

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.advantages-list__item__icon3::before {
  top: 0;
  display: flex;
  margin-bottom: 16px;
  width: 44px;
  height: 50px;
  content: '';
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(..//images/advantages/advantage-icon3-1x.png),
    url(..//images/advantages/advantage-icon3-2x.png);

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}
