.section--contacts {
  background: linear-gradient(to top, #fff5f6 92%, #ffffff 0%);

  @media screen and (max-width: 767px) {
    background-image: linear-gradient(to top, #fff5f6 93%, #ffffff 0%);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    background-image: linear-gradient(to top, #fff5f6 86%, #ffffff 0%);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: 1280px) {
    background-image: url('../images/contacts/contacts-bg-desc1x.png'),
      linear-gradient(to top, #fff5f6 88%, #ffffff 0%);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    padding-bottom: 165px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/contacts/contacts-bg-desc2x.png'),
      linear-gradient(to top, #fff5f6 88%, #ffffff 0%);
  }
}

.contacts {
  @media screen and (max-width: 767px) {
    bottom: 84px;
    padding-right: 30px;
    padding-left: 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    bottom: 78px;
    padding-right: 16px;
    padding-left: 16px;
  }

  @media screen and (min-width: 1280px) {
    bottom: 102px;
  }
}

.contacts__row {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.contacts__column {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    transform: scale(1.05);
  }
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-right: 20px;
    }

    @media screen and (min-width: 1279px) {
      margin-right: 31px;
    }
  }
  @media screen and (min-width: 450px) and (max-width: 767px) {
    display: flex;
    justify-content: center;
  }
}

.contacts__item {
  background-color: $white-color;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @media screen and (max-width: 767px) {
    padding: 43px 20px;
  }
  @media screen and (min-width: 450px) and (max-width: 767px) {
    text-align: center;
    max-width: 350px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    max-width: 220px;
    padding: 50px 31px;
  }

  @media screen and (min-width: 1279px) {
    max-width: 330px;
    padding: 51px 44px 62px 43px;
  }
  @media screen and (min-width: 450px) and (max-width: 767px) {
    padding: 43px 45px 60px;
  }
}

// Address

.contacts-addr {
  border-bottom: 1px solid #e1e1e1;
  @media screen and (max-width: 767px) {
    padding-bottom: 25px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-bottom: 30px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 32px;
  }
}

.contacts-addr__title {
  display: inline-block;
  text-align: center;
  background-color: $coffee;
  border-radius: 6px;
  @media screen and (max-width: 767px) {
    color: $white-color;
    font-size: 12px;
    line-height: 1.86;
    padding: 0 25px;
    margin-bottom: 25px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    color: $white-color;
    font-size: 16px;
    line-height: 1.86;
    padding: 0 17px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1280px) {
    color: $white-color;
    font-size: 16px;
    line-height: 1.86;
    padding: 0 17px;
    margin-bottom: 32px;
  }
}

.contacts-addr__title--green {
  background-color: $milkshake;
}

.contacts-addr__city {
  text-align: left;
  @media screen and (max-width: 767px) {
    color: $text-color;
    font-size: 12px;
    line-height: 1.86;
    margin-bottom: 10px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    color: $text-color;
    font-size: 14px;
    line-height: 1.86;
    margin-bottom: 14px;
  }

  @media screen and (min-width: 1280px) {
    color: $text-color;
    font-size: 16px;
    line-height: 1.86;
    margin-bottom: 10px;
  }
}

.contacts-addr__text {
  text-align: left;
  color: $second-text-color;
  @media screen and (max-width: 767px) {
    font-size: 12px;
    line-height: 1.5;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 14px;
    line-height: 1.66;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.83;
  }
}

// Work

.contacts-schedule {
  border-bottom: 1px solid #e1e1e1;
  padding-left: 0;
  list-style-type: none;

  @media screen and (max-width: 767px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts-schedule__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 15px;
  }
}

.contacts-schedule__days {
  text-align: left;
  color: $text-color;
  line-height: 1.86;
  @media screen and (max-width: 767px) {
    font-size: 12px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.contacts-schedule__time {
  text-align: left;
  line-height: 1.86;
  @media screen and (max-width: 767px) {
    color: $second-color;
    font-size: 12px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    color: $second-color;
    font-size: 14px;
  }

  @media screen and (min-width: 1280px) {
    color: $second-color;
    font-size: 16px;
  }
}

// Contact
.contacts-info {
  text-align: left;
  padding-left: 0;
  list-style-type: none;

  @media screen and (max-width: 767px) {
    padding-top: 25px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 30px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 32px;
  }
}

.contacts-info__link {
  text-decoration: none;

  @media screen and (max-width: 767px) {
    color: $second-text-color;
    font-size: 12px;
    line-height: 1.5;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    color: $second-text-color;
    font-size: 14px;
    line-height: 1.83;
  }

  @media screen and (min-width: 1280px) {
    color: $second-text-color;
    font-size: 16px;
    line-height: 1.83;
  }
}

// Button
.contacts-buttons {
  margin-top: 54px;

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 160px;
    padding-bottom: 113px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 81px;
    padding-bottom: 158px;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 86px;
  }
}
