.customer-reviews {
    padding-top: 120px;
    padding-bottom: 130px;
}

.customer-reviews__list {
    padding-bottom: 35px;
}

.customer-reviews__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer-reviews__img {
    display: block;
    width: 85px;
    height: 85px;

    margin-bottom: 15px;
}

.customer-reviews__box {
    display: block;
    width: 926px;
    height: 138px;

    margin-bottom: 34px;
    padding: 32px 50px ;

    background-color: $backcolor;
    // background-color: repeating-linear-gradients(90deg, green 43px, red 1px);
}

.customer-reviews__text {
    display: block;  
    width: 822px;
    height: 74px;

    padding: 15px 35px 7px 37px;
    font-size: 16px;
    line-height: calc(30 / 16);
    text-align: center;
    letter-spacing: 0.04em;
    text-decoration: underline;
    // text-decoration: repeating-linear-gradients (90deg, red, red);

    position: relative;
    z-index: 2;

    &::before {
        content: "";
        display: block;
        width: 54px;
        height: 40px;
        background-image: url(./images/customers/quotes-x1.png);

        position: absolute;
        z-index: -1;

        top: 0;
        left: 0;
    }
}

.customer-reviews__titl {
    display: block;
    font-size: 20px;
    line-height: calc(37 / 20);
    text-align: center;

    position: relative;
    
    &::before {
        content: "";
        display: block;
        width: 32px;
        height: 4px;
        background-image: url(./images/customers/dots-x1.png);

        position: absolute;

        transform-origin: center;

        top: -15px;
        left: 40%;
        
    }
}

.customer-reviews__dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer-reviews__dot--icon {
    display: block;
    margin-right: 18px;
}

.customer-reviews__icon {
    display: block;
    fill: #D31342;
}

.customer-reviews__dot {
    display: block;
    width: 12px;
    height: 12px;
    background-color: $dots;
    border-radius: 50%;

    &:not(:last-child) {
		margin-right: 18px;
	}
}