.customer-reviews {
  padding-top: 80px;
  padding-bottom: 160px;

  @media screen and (min-width: 768px) {
    padding-top: 120px;
    padding-bottom: 190px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 120px;
    padding-bottom: 230px;
  }
}

.customer-reviews__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customer-reviews__img {
  display: block;
  width: 85px;
  height: 85px;

  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}

.customer-reviews__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 308px;

  margin-bottom: 52px;

  background-color: $backcolor;

  @media screen and (min-width: 768px) {
    width: 620px;
    height: 164px;

    margin-bottom: 42px;
  }

  @media screen and (min-width: 1280px) {
    width: 926px;
    height: 138px;

    margin-bottom: 34px;
  }
}

.customer-reviews__gradient {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 180px;
  height: 240px;

  background-image: repeating-linear-gradient($backcolor, $backcolor 29px, $lines 29px, $lines 30px);

  @media screen and (min-width: 768px) {
    width: 550px;
    height: 90px;
  }

  @media screen and (min-width: 1280px) {
    width: 820px;
    height: 60px;
  }
}

.customer-reviews__text {
  display: block;
  width: 160px;
  height: 240px;

  font-size: 12px;
  line-height: calc(31 / 12);
  text-align: center;
  letter-spacing: 0.04em;

  position: relative;
  z-index: 2;

  &::before {
    content: '';
    display: block;
    width: 54px;
    height: 40px;
    background-image: url(../images/customers/quotes-x1.png);

    position: absolute;
    z-index: -1;

    top: -15px;
    left: -10px;

    @media screen and (min-width: 768px) {
      left: -30px;
    }

    @media screen and (min-width: 1280px) {
      
    }
  }

  @media screen and (min-width: 768px) {
    width: 480px;
    height: 90px;

    font-size: 14px;
    line-height: calc(30 / 14);
  }

  @media screen and (min-width: 1280px) {
    width: 750px;
    height: 60px;

    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

.customer-reviews__titl {
  display: block;
  font-size: 14px;
  line-height: calc(26 / 14);
  text-align: center;

  position: relative;

  &::before {
    content: '';
    display: block;
    width: 32px;
    height: 4px;
    background-image: url(../images/customers/dots-x1.png);

    position: absolute;

    transform-origin: center;

    top: -18px;
    left: 40%;

    @media screen and (min-width: 768px) {
      top: -14px;
    }

    @media screen and (min-width: 1280px) {
      top: -15px;
    }
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: calc(30 / 16);
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: calc(37 / 20);
  }
}

.customer-reviews__dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-reviews__dot--icon {
  display: block;
  margin-right: 18px;
}

.customer-reviews__icon {
  display: block;
  fill: #d31342;
}

.customer-reviews__dot {
  display: block;
  width: 12px;
  height: 12px;
  background-color: $dots;
  border-radius: 50%;

  cursor: pointer;

  &:not(:last-child) {
    margin-right: 18px;
  }

  transition: $cubic;
  
  &:focus,
  &:hover {
    transform: scale(1.5,1.5);
  }
}


/* классы для слайдера */

.customer-reviews__slider {
  position: relative;

  padding-bottom: 30px;

  @media screen and (min-width: 768px) {
    padding-bottom: 35px;
  }

  @media screen and (min-width: 1280px) {
  }
}

.slide {
  display: none;
}

.active {
  display: flex;
}

.activedot {
  display: block;
  width: 12.5px;
  background-color: unset;
  border-radius: unset;
  background-image: url(../images/customers/home.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.customer-reviews__btn {
  width: 50%;
  height: 100%;

  cursor: pointer;

  position: absolute;
  top: 0;  
  
  // background-color: rgba(211, 19, 66, 0.1);
  // transition: $cubic;

  // &:focus,
  // &:hover {
  //   transform: scale(1.5,1.5);
  // }
}

.customer-reviews__btn--prev {
  left: 0;
}

.customer-reviews__btn--next {
  right: 0;
}