.gallery-section {
margin-left: 0px;
background-image: linear-gradient(to bottom, #fff5f6 50%, #ffffff 50%);
width: 100vw;
height: 122px;
position: relative;

@media screen and (min-width: 320px) {
  max-width: 768px;
}

@media screen and (min-width: 768px) {
  max-width: 1280px;
  height: 264px;

}

@media screen and (min-width: 1280px) {
  max-width: 100vw;
  height: 430px;

} 
}
.gallery-thumb {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: center;
}

.gallery-thumb__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2px;
  @media screen and (min-width: 768px) {
    margin-right: 5px;
  }

&:first-child {
   justify-content: start;
   padding-top: 45px;
    @media screen and (min-width: 768px) {
      padding-top: 70px;
    }
    @media screen and (min-width: 1280px) {
       padding-top: 120px;

    }
}
&:nth-child(2n) {
  justify-content: start;
  padding-top: 30px;
}
&:nth-child(3n) {
  align-items: flex-start;
  
}
&:nth-child(4n) {
  justify-content: start;
  padding-top: 40px;
}

&:nth-child(5n) {
  justify-content: start;
  padding-top: 30px;
}

&:last-child {
  justify-content: start;
  padding-top: 40px;
  margin-right: 0px;
   @media screen and (min-width: 768px) {
     padding-top: 100px;
}
}
}

.gallery-thumb__item {
  display: flex;
  margin-bottom: 3px;
  transition: $cubic;
  cursor: pointer;
  &:focus,
  &:hover {
    transform: scale(2.5, 2.5) translate(20%,20%);

    @media screen and (min-width: 768px) {
      transform: scale(1.5, 1.5) translate(20%, 20%);
    }
  }
}
.gallery-thumb__item--small {
  display: flex;
  width: 50%;
  cursor: pointer;
  transition: $cubic;
  &:focus,
  &:hover {
   transform:scale(2.5,2.5) translate(20%,20%);
  
  @media screen and (min-width: 768px) {
    transform:scale(1.5, 1.5) translate(20%, 20%);
  }
}
}
.gallery-thumb__item--last{
display: flex;
cursor: pointer;
transition: $cubic;

&:focus,
&:hover {
  transform: scale(2.5, 2.5) translate(-40%, 20%);

  @media screen and (min-width: 768px) {
    transform: scale(1.5, 1.5) translate(-40%, 20%);
  }
}
}
.gallery-thumb__image {
  border: none;
  border-radius: 10px;
  width: 100%;
  height: auto;
}
