.header {
  background-color: $ice-cream;
}

.header-conteiner {
  display: flex;
  // justify-content: center;
  // align-items: center;
  width: 100%;
  padding-top: 7px;
  padding-left: 20px;
  // padding-right: 20px;
  // margin: 0 auto;
  @media screen and (min-width: 320px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-left: 35px;
    padding-right: 35px;
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 40px;
    padding-left: 45px;
    padding-right: 115px;
    max-width: 1280px;
  }
}

.header-nav {
  display: flex;
  @media screen and (min-width: 320px) and (max-width: 1179px) {
    display: none;
  }
}

.logo-img {
  margin-right: 130px;
}

.haeder-list {
  display: flex;
  align-items: center;
  @media screen and (max-wight: 1199px) {
    display: none;
  }
}

.header-link {
  &:not(:last-child) {
    margin-right: 35px;
  }
}

.header-item {
  font-family: DM Sans, sans-serif;
  font-style: 700;
  font-size: 16px;
  line-height: 1.31;
  text-transform: uppercase;

  color: $white-color;
  &:hover,
  &:focus {
    color: $main-color;
  }
}

.button-submit {
  width: 160px;
  height: 45px;
  padding: 0;
  border-radius: 22px;
  border: none;
  margin-left: auto;
  background-color: $white-color;

  font-family: DM Sans, sans-serif;
  font-style: 700;
  font-size: 16px;
  line-height: 1.31;
  text-transform: uppercase;

  color: $main-color;
  &:hover,
  &:focus {
    background-color: $hover-btn;
  }
  @media screen and (max-width: 1179px) {
    display: none;
  }
}

// HERO //
.hero {
  height: 665px;
  position: relative;
  display: flex;
  width: 100%;
  background-color: $ice-cream;
}

.hero-titel {
  font-family: Titan One, sans-serif;
  font-style: 400;
  font-size: 58px;
  line-height: 1.11;
  letter-spacing: 4%;
  text-transform: uppercase;

  color: $main-color;
}

.titel-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-bottom: 25px;
  top: 170px;
  left: 115px;
}

.titel-first {
  margin-bottom: 25px;
  font-family: Titan One, sans-serif;
  font-style: 400;
  font-size: 37px;
  line-height: 1.13;
  letter-spacing: 4%;
  text-transform: uppercase;

  color: $white-color;
}

.button-hero1 {
  width: 105px;
  height: 40px;
  margin-right: 15px;
  border-radius: 22px;
  border: none;
  background-color: $main-color;

  font-family: DM Sans, sans-serif;
  font-style: 400;
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;

  color: $white-color;
  &:hover,
  &:focus {
    background-color: $hover-btnred;
  }
}

.button-hero2 {
  width: 140px;
  height: 40px;
  border-radius: 22px;
  border: none;
  background-color: $white-color;

  font-family: DM Sans, sans-serif;
  font-style: 400;
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;

  color: $main-color;
  &:hover,
  &:focus {
    background-color: $hover-btn;
  }
}

.milk-box {
  position: absolute;
  display: flex;
  left: 80px;
  bottom: 45px;
}

.milk-img {
  margin-right: 30px;
}

.hero-text {
  width: 200px;
  font-family: DM Sans, sans-serif;
  font-style: 400;
  font-size: 14px;
  line-height: 1.42;
  text-transform: uppercase;

  color: $white-color;
}

.button-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  padding: 0;
  border-radius: 50%;
  border: none;
  fill: $main-color;
  background-color: $white-color;
  &:hover,
  &:focus {
    background-color: $hover-btn;
  }
}

.circle {
  top: 55px;
  right: 265px;

  height: 538px;
  width: 538px;
  border-radius: 50%;
  border: none;
  background-color: $second-color;
}

.hero-icecream {
  position: absolute;
  bottom: 0;
  right: 30px;
  @media screen and (min-width: 320px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    right: 275px;
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    right: 450px;
    max-width: 1280px;
  }
}

.hero-girl {
  position: absolute;
  bottom: 0;
  right: 35px;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    // display: none;
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    right: 110px;
    max-width: 1280px;
  }
}
