.menu-container {
  padding: 21px 60px;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #e17992;
  z-index: 99;
  transform: translateX(100%);
  transition: transform $cubic;
}
