.smoll-title {
  font-family: Titan One;
  font-style: normal;
  font-size: 18px;
  line-height: 1.16;
  line-height: 100%;
  align-items: center;
  color: $second-color;
  text-align: center;
}

.title {
  font-family: Titan One;
  font-style: normal;
  font-size: 34px;
  line-height: 1.14;
  line-height: 100%;
  align-items: center;
  letter-spacing: 4%;
  text-align: center;
  color: $main-color;
}
.card {
  position: relative;
}
.card-set {
  background-color: #ffb8ca;
}
.card-set::before {
  top: 0;
  left: 0;

  content: '';
  display: block;
  background-position: center;
  background-size: cover;
  position: absolute;
  background-image: url(../images/products/ice-cream-mobile1x.png);
  position: absolute;
}
.title-second {
  font-family: Titan One;
  font-style: normal;
  font-size: 20px;
  line-height: 1.15;
  line-height: 100%;
  align-items: center;
  letter-spacing: 4%;
  text-align: center;
  color: $white-color;
}
.text {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  line-height: 152%;
  align-items: center;
  letter-spacing: 4%;
  text-align: center;
  color: $white-color;
}
.title-second::after {
  content: url(../images/icons.svg#icon-Group-3);
  width: 26px;
  height: 6px;
  display: block;
}
